<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <style>
        .card {
            box-shadow: 4px 8px 8px 4px rgba(0,0,0,0.2);
            transition: 0.3s;
            height: 48%;
            width: 28%;
            left: 48%;
            top: 60%;
            margin-left: -12%;
            border-radius: 5px;
            position: fixed;
            margin-top: -18%;
            background-color: lightcyan;
            color: black;
        }
    </style>
</head>
<body bgcolor="lightblue">
    <div class="card">
        <h3 style="margin-left:42%;">SignUp</h3>
        <form action="/signup" method="post">
            {% csrf_token %}
        <pre style="color: green;font-size:large;">
    <label for="">Username         : </label><input type="text" name="username" id="username">

    <label for="">Firstname        : </label><input type="text" name="fname" id="fname">

    <label for="">Lastname         : </label><input type="text" name="lname" id="lname">

    <label for="">Email            : </label><input type="email" name="email" id="email">

    <label for="">Password         : </label><input type="password" name="pass1" id="pass1">

    <label for="">Confirm Password : </label><input type="password" name="pass2" id="pass2">

                    <button type="submit">SignUp</button>
    <p style="margin-left:12%;">Already have an account? <a href="/">SignIn</a></p>
        </pre>
        </form>
    </div>
</body>
</html>